In [1]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
current_page = 1
data = [] #create empty list
proceed = True #store value of proceed as True

In [3]:
while(proceed):
    print("Currently scraping page: "+str(current_page))

    url = "https://books.toscrape.com/catalogue/page-"+str(current_page)+".html" #toscrape website url

    proxies = ""

    #proxies={'http': 'http://customer-[your_username]:[your_password]_@pr.oxylabs.io:7777'}

    page = requests.get(url, proxies=proxies)

    soup = BeautifulSoup(page.text,"html.parser")

    if soup.title.text == "404 Not Found":  #if there is no title text found , proceed will be false loop will stop
        proceed = False
    else:
        all_books = soup.find_all("li",class_="col-xs-6 col-sm-4 col-md-3 col-lg-3") #find all books where class name is col-xs-6 col-sm-4 col-md-3 col-lg-3

        for book in all_books:
            item = {}      #create empty dictionary

            item['Title'] = book.find("img").attrs["alt"] #create a key named as Title and store title name as value

            item['Link'] = "https://books.toscrape.com/catalogue/"+book.find("a").attrs["href"] #create a key named as Link and store image link in it

            item['Price'] = book.find("p", class_="price_color").text[2:] #create a key named as Price and store all Price

            item['Stock'] = book.find("p", class_="instock availability").text.strip() #create a key named as Stock and store all values whether they are in stock or not

            data.append(item)

    current_page += 1

Currently scraping page: 1
Currently scraping page: 2
Currently scraping page: 3
Currently scraping page: 4
Currently scraping page: 5
Currently scraping page: 6
Currently scraping page: 7
Currently scraping page: 8
Currently scraping page: 9
Currently scraping page: 10
Currently scraping page: 11
Currently scraping page: 12
Currently scraping page: 13
Currently scraping page: 14
Currently scraping page: 15
Currently scraping page: 16
Currently scraping page: 17
Currently scraping page: 18
Currently scraping page: 19
Currently scraping page: 20
Currently scraping page: 21
Currently scraping page: 22
Currently scraping page: 23
Currently scraping page: 24
Currently scraping page: 25
Currently scraping page: 26
Currently scraping page: 27
Currently scraping page: 28
Currently scraping page: 29
Currently scraping page: 30
Currently scraping page: 31
Currently scraping page: 32
Currently scraping page: 33
Currently scraping page: 34
Currently scraping page: 35
Currently scraping page: 36
Currently scraping page: 37
Currently scraping page: 38
Currently scraping page: 39
Currently scraping page: 40
Currently scraping page: 41
Currently scraping page: 42
Currently scraping page: 43
Currently scraping page: 44
Currently scraping page: 45
Currently scraping page: 46
Currently scraping page: 47
Currently scraping page: 48
Currently scraping page: 49
Currently scraping page: 50
Currently scraping page: 51

In [4]:
book_data = pd.DataFrame(data) #create dataframe and named as book_data

In [9]:
book_data.head(5)  # to show first five rows in dataset

,Title,Link,Price,Stock
0,A Light in the Attic,https://books.toscrape.com/catalogue/a-light-i...,51.77,In stock
1,Tipping the Velvet,https://books.toscrape.com/catalogue/tipping-t...,53.74,In stock
2,Soumission,https://books.toscrape.com/catalogue/soumissio...,50.10,In stock
3,Sharp Objects,https://books.toscrape.com/catalogue/sharp-obj...,47.82,In stock
4,Sapiens: A Brief History of Humankind,https://books.toscrape.com/catalogue/sapiens-a...,54.23,In stock

In [6]:
book_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   1000 non-null   object
 1   Link    1000 non-null   object
 2   Price   1000 non-null   object
 3   Stock   1000 non-null   object
dtypes: object(4)
memory usage: 31.4+ KB

In [10]:
book_data.describe

<bound method NDFrame.describe of                                                  Title  \
0                                 A Light in the Attic
1                                   Tipping the Velvet
2                                           Soumission
3                                        Sharp Objects
4                Sapiens: A Brief History of Humankind
..                                                 ...
995  Alice in Wonderland (Alice's Adventures in Won...
996   Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)
997  A Spy's Devotion (The Regency Spies of London #1)
998                1st to Die (Women's Murder Club #1)
999                 1,000 Places to See Before You Die

                                                  Link  Price     Stock
0    https://books.toscrape.com/catalogue/a-light-i...  51.77  In stock
1    https://books.toscrape.com/catalogue/tipping-t...  53.74  In stock
2    https://books.toscrape.com/catalogue/soumissio...  50.10  In stock
3    https://books.toscrape.com/catalogue/sharp-obj...  47.82  In stock
4    https://books.toscrape.com/catalogue/sapiens-a...  54.23  In stock
..                                                 ...    ...       ...
995  https://books.toscrape.com/catalogue/alice-in-...  55.53  In stock
996  https://books.toscrape.com/catalogue/ajin-demi...  57.06  In stock
997  https://books.toscrape.com/catalogue/a-spys-de...  16.97  In stock
998  https://books.toscrape.com/catalogue/1st-to-di...  53.98  In stock
999  https://books.toscrape.com/catalogue/1000-plac...  26.08  In stock

[1000 rows x 4 columns]>

In [11]:
book_data.shape

(1000, 4)

In [14]:
book_data.describe()

,Title,Link,Price,Stock
count,1000,1000,1000,1000
unique,999,1000,903,1
top,The Star-Touched Queen,https://books.toscrape.com/catalogue/a-light-i...,44.18,In stock
freq,2,1,3,1000

In [15]:
book_data.isnull().sum()

Title    0
Link     0
Price    0
Stock    0
dtype: int64